[submodule "MAS.Agents"]
	path = MAS.Agents
	url = https://github.com/OliverFlecke/MAS.Agents
[submodule "MAS.Messaging"]
	path = MAS.Messaging
	url = https://github.com/OliverFlecke/MAS.Messaging
[submodule "MAS.MissionControl"]
	path = MAS.MissionControl
	url = https://github.com/OliverFlecke/MAS.MissionControl
[submodule "MAS.MissionCreator"]
	path = MAS.MissionCreator
	url = https://github.com/OliverFlecke/MAS.MissionCreator
[submodule "MAS.Shared"]
	path = MAS.Shared
	url = https://github.com/OliverFlecke/MAS.Shared
[submodule "MAS.Tests"]
	path = MAS.Tests
	url = https://github.com/OliverFlecke/MAS.Tests
[submodule "MiR-simulator"]
	path = MiR-simulator
	url = https://github.com/OliverFlecke/MiR-simulator
[submodule "docker-rabbitmq-dotnet"]
	path = docker-rabbitmq-dotnet
	url = https://github.com/OliverFlecke/docker-rabbitmq-dotnet
[submodule "MAS.Unpredictable"]
	path = MAS.Unpredictable
	url = https://github.com/OliverFlecke/MAS.Unpredictable.git
[submodule "MAS.Missions"]
	path = MAS.Missions
	url = https://github.com/OliverFlecke/MAS.Missions.git
[submodule "MAS.Statistics"]
	path = MAS.Statistics
	url = https://github.com/OliverFlecke/MAS.Statistics
[submodule "MAS.MissionScheduler"]
	path = MAS.MissionScheduler
	url = https://github.com/OliverFlecke/MAS.MissionScheduler
[submodule "MAS.Command"]
	path = MAS.Command
	url = https://github.com/OliverFlecke/MAS.Command
